#indicator {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#root {
    display: flex;
    width: 70vw;
    height: 70vh;
}

.hangstand {
    width: 40vw;
    position: relative;
}

button {
    background-color: #fff200;
    border: 2px solid #ffffff;
    box-shadow: 2px 4px 5px rgb(255, 255, 255);
    border: 5;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    margin: 5px 8px;
    padding: 6px 10px;
}

.buttons-parent {
    width: 50%;
    padding-right: 3%;
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f2a922, #ff0000b1);
    color: #ffffff;
    transition: color 0.3s;
}

body {
    overflow-x: hidden;
}

span {
    display: none;
}

#hyphen {
    color: white;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    height: 40px;
    width: 25px;
}

.blanks_parent {
    height: 15vh;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.greenBtn,
.greenBtn:hover {
    background-color: green;
    color: white;
}

.redBtn,
.redBtn:hover {
    background-color: red;
    color: white;
}

.class-1 {
    height: 5px;
    width: 60%;
    left: 20px;
    background: white;
    position: absolute;
    bottom: 2%;
}

.class-2 {
    height: 7px;
    width: 64vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 340px;
    transform: rotate(90deg);
}

.class-3 {
    height: 5px;
    width: 40%;
    left: 20px;
    background: white;
    position: absolute;
    top: 5%;
}

.class-4 {
    height: 3px;
    width: 15vh;
    top: 12vh;
    background: white;
    position: absolute;
    right: 300px;
    transform: rotate(90deg);
}

.class-5 {
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: white;
    left: 170px;
    top: 130px;
    border-radius: 50%;
}

.class-6 {
    height: 10px;
    width: 30vh;
    top: 40vh;
    background: white;
    position: absolute;
    right: 245px;
    transform: rotate(90deg);
}

.class-7 {
    height: 7px;
    width: 15vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 360px;
    transform: rotate(20deg);
}

.class-8 {
    height: 7px;
    width: 15vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 245px;
    transform: rotate(-20deg);
}

.class-9 {
    height: 7px;
    width: 15vh;
    top: 58vh;
    background: white;
    position: absolute;
    right: 250px;
    transform: rotate(-150deg);
}

.class-10 {
    height: 7px;
    width: 15vh;
    top: 58vh;
    background: white;
    position: absolute;
    right: 350px;
    transform: rotate(150deg);
}

.display-none {
    display: none;
}

main {
    padding: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    display: flex;
    grid-template-columns: 20% 60% 20%;
}

#side_bar {
    background: rgba(235, 0, 0, 0.8);
    color: #FFF;
    padding: 0px;
}

#side_bar h3 {
    color: #ffbb00;
    margin-bottom: 2px;
    font-family: sans-serif;
    color: rgb(255, 196, 0);
    font-size: medium;
}

#side_bar ul {
    list-style: circle;
    font-family: monospace;
}

#side_bar li {
    margin: 1px;
}

#Main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#back {
    text-align: left;
    margin: 1px 820px 1px 50px;
    height: 30px;
    font-size: 16px;
    background-color: #FFF;
    border-radius: 20px;
}

.heading h1 {
    text-align: center;
    font-size: 48px;
    margin: 0px 20px 0px 20px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 1s linear infinite;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

.heading h3 {
    text-align: right;
    margin: 25px 50px 0px 50px;
}

#objective {
    font-size: small;
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    color: #ffffff;
    padding: 0px 10px 10px;
    border-radius: 15px;
    font-family: monospace;
    flex: 8;
}

#objective ul {
    font-size: small;
    font-family: monospace;
}

#objective h3 {
    font-family: serif;
    color: #ffe100;
    margin-bottom: 5px;
    font-size: medium;
}

.heading{
    font-size:large;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
    text-decoration:underline;
    margin:5px;
    
}

