#indicator {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#root {
    display: flex;
    width: 70vw;
    height: 70vh;
}

.hangstand {
    width: 40vw;
    position: relative;
}

button {
    background-color: #fff200;
    border: 2px solid #ffffff;
    box-shadow: 2px 4px 5px rgb(255, 255, 255);
    border: 5;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    margin: 5px 8px;
    padding: 6px 10px;
}

.buttons-parent {
    width: 50%;
    padding-right: 3%;
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #fe0000, #000000);
    color: #ffffff;
    transition: color 0.3s;
}

body {
    overflow-x: hidden;
}

span {
    display: none;
}

#hyphen {
    color: white;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    height: 40px;
    width: 25px;
}

.blanks_parent {
    height: 15vh;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.greenBtn,
.greenBtn:hover {
    background-color: green;
    color: white;
}

.redBtn,
.redBtn:hover {
    background-color: red;
    color: white;
}
.class-1 {
    height: 5px;
    width: 60%;
    left: 0px;
    background: white;
    position: absolute;
    bottom: 2%;
}

.class-2 {
    height: 7px;
    width: 64vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 320px;
    transform: rotate(90deg);
}

.class-3 {
    height: 5px;
    width: 40%;
    left: 0px;
    background: white;
    position: absolute;
    top: 5%;
}

.class-4 {
    height: 3px;
    width: 15vh;
    top: 12vh;
    background: white;
    position: absolute;
    right: 300px;
    transform: rotate(90deg);
}

.class-5 {
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: white;
    left: 100px;
    top: 130px;
    border-radius: 50%;
}

.class-6 {
    height: 10px;
    width: 30vh;
    top: 40vh;
    background: white;
    position: absolute;
    right: 245px;
    transform: rotate(90deg);
}

.class-7 {
    height: 7px;
    width: 15vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 340px;
    transform: rotate(20deg);
}

.class-8 {
    height: 7px;
    width: 15vh;
    top: 35vh;
    background: white;
    position: absolute;
    right: 250px;
    transform: rotate(-20deg);
}

.class-9 {
    height: 7px;
    width: 15vh;
    top: 58vh;
    background: white;
    position: absolute;
    right: 250px;
    transform: rotate(-150deg);
}

.class-10 {
    height: 7px;
    width: 15vh;
    top: 58vh;
    background: white;
    position: absolute;
    right: 350px;
    transform: rotate(150deg);
}

.display-none {
    display: none;
}

main {
    padding: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    display: flex;
    grid-template-columns: 20% 60% 20%;
    background: url(./images/background.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#side_bar {
    background: linear-gradient(to bottom, #fe0000, #000000);
    color: #FFF;
    padding:5px;
    margin: 3px;
}

#side_bar h3 {
    color: #ffbb00;
    margin-bottom: 2px;
    font-family: sans-serif;
    color: rgb(255, 196, 0);
    font-size: medium;
}

#side_bar ul {
    list-style: circle;
    font-family: monospace;
}

#side_bar li {
    margin: 1px;
}


#back {
    text-align: left;
    margin: 20px 300px 1px -40px;
    height: 30px;
    font-size: 16px;
    background-color: #FFF;
    border-radius: 20px;
    border-style: none;
    box-shadow: 2px 1px 4px rgb(255, 255, 255);
    
}

#playAgain {
    text-align: left;
    margin: 20px 20px 1px 50px;
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 2px 1px 4px rgb(255, 255, 255);
    border-style:none;
   
   
}
#playAgain.hover{

 cursor: pointer;
 background: linear-gradient(to bottom, #ff0000, #2a0808);
 text-shadow: 0 0 10px #ffffff;
 color: #ffffff;
 transition: color 0.3s;
}

#hintButton {
    text-align: left;
    margin: 1px 8px 3px -40px;
    height: 30px;
    width: 7%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 2px 1px 4px rgb(255, 255, 255);
    border-style:none;
    padding: 5px  10px 1px;
    
}

#hintText {
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    margin: 0px 640px 0px -41px;
    padding: 3px 0px 2px ;  
}

.hidden {
    display: none;
}

#scoreboard{
    text-align: left;
    margin: 0px 20px 0px 0px;
    height: 90%;
    width: 13%;
    font-size: 12px;
    font-weight: 700;
    border-radius: 1px;
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    text-shadow: 1px 0  10px #ffffff;
    color: #FFF;
    border: 3px solid #2a0808;
    box-shadow: 2px 1px 4px rgba(80, 18, 18, 0.825);
    border-style:groove;
    border-width: 3px;
    padding: 0px  6px 0px;
   
}

.heading {
    display: flex;
    flex-direction: row;
}
.heading h1 {
    text-align: center;
    font-size: 48px;
    margin: 20px 100px 0px 20px; 
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 2s linear infinite;
    justify-content:center; 
    align-items:center;
}


@keyframes back {
    100% {
        background-position: 200px 0;
    }
}


.heading h3 {
    text-align: right;
    margin: 25px 50px 0px 50px;
}


#Main_page {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 




#objective {
    font-size: small;
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    color: #ffffff;
    padding: 4px 14px 10px;
    border-radius: 15px;
    font-family: monospace;
}

#objective ul {
    font-size: small;
    font-family: monospace;
}

#objective h3 {
    font-family: serif;
    color: #ffe100;
    margin-bottom: 5px;
    font-size: medium;
}




 
