/* Apply styles to the main section */

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: url(./images/background.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


/* Style the template section */

#template {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style the top, game, and bottom sections inside the template section */

#top {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px 0;
}

#game {
    text-align: center;
    margin: 10px 0;
}

#bottom {
    text-align: center;
    margin: 10px 0;
}


/* Style the top, game, and bottom sections inside the template section */

#top,
#game,
#bottom {
    margin: 10px;
}


/* Style the button, h2, and p elements inside the top section */

#top button {
    text-align: left;
    margin: 20px 50px 0px 50px;
    height: 30px;
}

#top h2 {
    text-align: center;
    font-size: 48px;
    margin: 0px 20px 0px 20px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 1s linear infinite;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

#top p {
    text-align: right;
    margin: 25px 50px 0px 50px;
}


/* Style the objective section */

#objective {
    flex: 1;
    background: linear-gradient(to bottom, #000000, #ff0000);
    color: #ffffff;
    padding: 10px;
}

img {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: none;
    box-shadow: none;
}

button {
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 20px;
}

button:hover {
    background-color: #777777;
}

#game p {
    display: none; 
}