body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.neon-text {
    text-align: right;
    color: rgb(221, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
}

header {
    display: flex;
    background: linear-gradient(to bottom, #fe0000, #000000);
    text-align: center;
    justify-content: space-between;
    align-items: right;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
    background: linear-gradient(to bottom, #ee0000, #000000);
}

img {
    border: 2px solid #ffcc00;
    color: #ffcc00;
    border-radius: 75px;
    
  
}

.logo {
    display: flex;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ee0000, #000000);
    border-radius: 800px;
    border: 2px solid #e5ff00;
    box-shadow: 3px 3px 12px rgb(255, 0, 0);
    padding: 6px;

} 

header h1 {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav a {
    text-decoration: none;
    color: #ffcc00;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px #fb013f;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 15px;
    background: linear-gradient(to bottom, #000000, #2a0808);
    
}

main h3{
    font-family: sans-serif;
    color: #ffd900;
    font-size: medium;
    
}



main ul {
    font-family: monospace;
    font-size: large;
    padding: 20px;
}

#side_bar {
    flex: 1;
    background: rgba(235, 0, 0, 0.8);
    color: #FFF;
    padding: 10px;
}

#side_bar h3 {
    color: #e1ff00;
    margin-bottom: 24px;
    font-family: monospace;
    color: rgb(221, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
}

#side_bar ul {
    list-style: circle;
    font-family: monospace;
}

#side_bar li {
    margin: 15px;
}

#Main_page {
    flex: 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin-left: 100px;
}

.Thumbnails {
    grid-column: span 1;
    grid-row: span 1;
    padding: 10px;
    box-sizing: border-box;
}

#Contact-page {
    background-color: #222222;
    padding: 25px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    float: left;
    width: 58%;
    background: #000;
    color: #fff;
    padding: 20px;
}

#Contact-page h1 {
    font-size: 36px;
    margin-top: 0;
    color: #ffcc00;
    
}

#Contact-page p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    color: #ccc;
    margin: 60px 0px 130px;
}

#Contact-page strong {
    color: #ffcc00;
    font-size: larger;
    padding: 1px;
}

#Contact-page img {
    margin-right: 0px;

}

.container {
    background: linear-gradient(to bottom, #ff0000, #360404);
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 0, 0);
   
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
    flex: 1;
    margin-right: 5px;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #ffcc00;
   
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ea026a;
    border-radius: 8px;
    background-color: #333;
    color: #eeff00;
}

form button {
    background: linear-gradient(to bottom, #ff3366, #ffcc00);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.5s;
}

form button:hover {
    background: linear-gradient(to bottom, #ffcc00, #ff0000);
    text-shadow: 0 0 10px #ff0000;
}

footer {
    background: linear-gradient(to bottom, #333, #ff0000);
    padding: 6px 10px;
}

.bigfoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copy {
    flex: 1;
    color: #ccc;
    text-align: left;
    font-size: small;
    padding: 10px 10px 15px;
}

#copy p {
    padding: 1px;
}

#play {
    flex: 3;
    color: #ccc;
    text-align: left;
    padding: 5px;
    float: center;
}

#points {
    flex: 1;
    color: #ccc;
    text-align: left;
    padding: 10px 100px 15px;
}

#points li {
    margin: 11%;
}

footer img {
    width: 50px;
    height: 50px;
    font-size: x-small;
    float: left;
    width: auto;
    border: #2a0808;
    border-radius: 5px;
    background: linear-gradient(to bottom, #b90a0a, #000000);
    border-radius: 800px;
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 0, 0);
    padding: 8px;
}

a:hover {
    color: #ff3366;
    text-shadow: 0 0 10px #ff3366;
    transition: color 0.3s;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}


/* Style the main content area */

.Thumbnails {
    float: center;
    width: 50%;
}


/* Styling thumbnails lol */

.Thumbnails {
    background: linear-gradient(to bottom, #fe0000, #000000);
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 255, 0);
    text-align: center;
    justify-content: space-between;
    align-items: left;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 5px 0px 4px;
    margin: 55px;
    text-align: center;
    border-radius: 3px;
}

.Thumbnails h3 {
    color: #fccccc;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    font-family:sans-serif;
    font-size:x-large;
}