main {
    display: flex;
    justify-content: center;
}

#side_bar {
    flex: 2;
}

.tttgrid {
    flex: 4;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
    text-align: center;
    justify-content: space-between;
    align-items: right;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
    background: linear-gradient(to bottom, #ee0000, #000000);
}

.gameInfo {
    flex: 2;
}

#objective {
    flex: 2;
}

.box {
    border: 2px solid white;
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: black;
}

.imgbox img {
    display: none;
}

#objective {
    flex: 1;
    /* Takes up 1/5 of the available space */
    background: linear-gradient(to bottom, #000000, #ff0040);
    color: #ffffff;
    float: left;
}
