main {
    display: flex;
    justify-content: center;
    background: url(./images/background.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#side_bar {
    flex: 2;
}

#top {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
}

#top button {
    text-align: left;
    margin: 20px 50px 0px 50px;
    height: 30px;
    border-radius: 20px;
}

#top h2 {
    text-align: center;
    font-size: 48px;
    margin: 0px 50px 0px 50px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 1s linear infinite;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

#top p {
    text-align: right;
    margin: 25px 20px 20px 0;
}

.tttgrid {
    flex: 4;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
    text-align: center;
    justify-content: space-between;
    align-items: right;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
    background: linear-gradient(to bottom, #ee0000, #000000);
}

.box {
    border: 2px solid white;
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: black;
}

.imgbox img {
    display: none;
}

#objective {
    flex: 2;
    /* Takes up 1/5 of the available space */
    background: linear-gradient(to bottom, #ee0000, #000000);
    color: #ffffff;
    float: left;
    padding: 2px 10px 0px;
}