main {
    display: flex;
    justify-content: center;
    background: url(./images/background.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#side_bar {
    flex: 2;
}

#top {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 3px;
}

#top button {
    text-align: left;
    font-size: 16px;
    font-weight: 800px;
    margin: 0px 40px 0px 50px;
    height: 30px;
    border-radius: 20px;
    padding: 2px -1px 0px; 
    
   
}
#top button:hover {
    
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    text-shadow: 0 2px  7px #ffffff;
    color: #ffffff;
    transition: color 0.3s;
 }

#top h2 {
    text-align: center;
    font-size: 48px;
    margin: 0px 50px 0px 50px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 1s linear infinite;
}

@keyframes back {
    100% {
        background-position: 200px 0;
    }
}

#top p {
    text-align: right;
    margin: 25px 20px 20px 0;
    color: rgb(255, 255, 255);
    border-radius:1px;
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    padding: 5px 3px 5px; 
    font-family: monospace;
    font-weight: 800px;
    border-style: groove;
    border-color: rgb(255, 255, 255);
}

.tttgrid {
    flex: 4;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
    text-align: center;
    justify-content: space-between;
    align-items: right;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #d0ff00;
    box-shadow: 3px 3px 12px rgb(255, 255, 0);
    text-shadow: 0 0 10px rgb(229, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(225, 255, 0);
    background: linear-gradient(to bottom, #ee0000, #000000);
    
}


.gameInfo {
    flex: 2;
}

#objective {
    flex: 2;
}

.box {
    border: 2px solid rgb(255, 255, 255);
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: black;
}

.imgbox img {
    display: none;
}

#objective {
    font-size: small;
    background: linear-gradient(to bottom, #ff0000, #2a0808);
    color: #ffffff;
    padding: 0px 10px 0px;
    border-radius: 15px;
    font-family: monospace;
}

#objective ul {
    font-size: small;
    font-family: monospace;
}

#objective h3 {
    font-family: serif;
    color: #ffe100;
    margin-bottom: 5px;
    font-size: medium;
}
